{% extends 'admin/change_form.html' %}

{% block after_related_objects %}
<script type="text/javascript">
  window.onload = function()
  {
      var defaultOptions = undefined;

      document.getElementById("id_module").onchange = function(event)
      {
          var lecOne = event.target.options[event.target.selectedIndex].dataset.lecone;
          var lecTwo = event.target.options[event.target.selectedIndex].dataset.lectwo;
          var lecThree = event.target.options[event.target.selectedIndex].dataset.lecthr;

          if (!lecOne) lecOne = 0;
          if (!lecTwo) lecTwo = 0;
          if (!lecThree) lecThree = 0;

          lecSelect = document.getElementById("id_lecturer");

          if (!defaultOptions) {
              // first call, populate the state
              defaultOptions = [...lecSelect.options];
          } else {
              // restore original state before deleting
              defaultOptions.forEach((ele, index) => {
                  if ([...lecSelect].every((elem) => elem.value != ele.value)) {
                      let newOption = document.createElement('option');
                      newOption.value = ele.value;
                      newOption.text = ele.text;

                      lecSelect.add(newOption, index);
                  }
              });
          }

          [...lecSelect].forEach((ele) => {
              if (ele.value == 0) return; // keeep the '--------------'
              if (ele.value == lecOne || ele.value == lecTwo || ele.value == lecThree) return; // keep the lecturers of the module

              // delete all other elements
              opToDel = lecSelect.getElementsByTagName('option')
              lecSelect.remove([...opToDel].findIndex((elem) => elem.value == ele.value ));
            });

        };
  };
</script>
{% endblock %}
