{% extends 'base.html' %}

{% block content %}
<div class="content container">
  <section class="section">
    <h1>Passwort vergessen?</h1>
    <p>Gib deine E-Mail Adresse unten ein und du wirst eine E-Mail mit einer Anleitung zum Zurücksetzen deines Passworts erhalten.</p>
  </section>

  <section class="section">
    <form method="POST">
      {% csrf_token %}
      <div class="field">
        <label class="label" for="id_email">E-Mail-Adresse</label>
        <div class="control">
          <input class="input" name="email" type="email" placeholder="s1234567@ba-sachsen.de" maxlength="254" required="" id="id_email">
        </div>
        {% if form.errors %}
        <p class="help is-danger">{{ form.errors.as_data }}</p>
        {% endif %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">E-Mail anfordern</button>
        </div>
      </div>
    </form>
  </section>

</div>
{% endblock %}
