{% extends 'base.html' %}

{% block content %}
<div class="content container">

  {% if validlink %}
  <section class="section">
    <h1>Passwort zurücksetzen</h1>
  </section>

  <section class="section">
    <form method="POST">
      {% csrf_token %}

      <div class="field">
        <label class="label" for="id_new_password1">Neues Passwort</label>
        <div class="control">
          <input class="input" name="new_password1" type="password" required="" id="new_password1">
        </div>
        <div class="help is-info">
          {{ form.new_password1.help_text }}
        </div>
      </div>

      <div class="field">
        <label class="label" for="id_new_password2">Neues Passwort wiederholen</label>
        <div class="control">
          <input class="input" name="new_password2" type="password" required="" id="new_password2">
        </div>
        {% if form.new_password2.errors %}
        <p class="help is-danger">{{ form.new_password2.errors|first }}</p>
        {% endif %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">Passwort ändern</button>
        </div>
      </div>
    </form>
  </section>

  {% else %}
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
  {% endif %}
</div>
{% endblock %}
