{% extends "baseLayout.html" %} 

{% block content %}

<div
	class="wrapper"
	id="dsh_wrapper"
	style="
		display: grid;
		height: 85vh;
		padding: 1.25rem;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 5fr 1fr 4fr;
		grid-template-areas: 'ctt1 ctt2' 'ctt1 ctt4' 'ctt3 ctt4';
		grid-gap: 1.5rem;
	"
>
	<!--MessageBoard-->
	<div
		class="box"
		id="dsh_content1"
		style="
			background: #485fc74a; 
			grid-area: ctt1; 
			margin-bottom: 0rem; 
			border-style: groove; 
			border-color: #485fc7"
	>
		{% block messageBoard %}
		
		{% endblock messageBoard %}
		
	</div>

	<!--shortResults-->
	<div
		class="box"
		id="dsh_content2"
		style="background: #485fc74a; grid-area: ctt2; margin-bottom: 0rem; border-style: groove; border-color: #485fc7"
	>
		<div style="overflow-y: auto; height: 34vh;">
			<p><b><u>Neue Prüfungsergebnisse:</u></b></p>
			{% block shortResults %}
	
			{% endblock shortResults %}
			<hr style="margin: 1rem; background: #485fc7;">
			<p><b><u>Ausstehende Prüfungsergebnisse:</u></b></p>
			{% block shortPendingResults %}
			
			{% endblock shortPendingResults %}
		</div>
	</div>

	<!--shortTimetableWeek-->
  <script>
  window.addEventListener("load", function(){
    document.getElementById("scroller").scrollTop = 800;
  });
  </script>
	<div
		class="box"
		id="dsh_content3"
		style="background: #485fc74a; grid-area: ctt3; margin-bottom: 0rem; border-style: groove; border-color: #485fc7"
	>
    <div id="scroller" class="scroller-dashboard">
      {{ calendar }}
    </div>
	</div>

	<!--shortExamRegistration-->
	<div
		class="box"
		id="dsh_content4"
		style="background: #485fc74a; grid-area: ctt4; margin-bottom: 0rem; border-style: groove; border-color: #485fc7"
	>
		<div style="overflow-y: auto; height: 34vh;">
			<p><b><u>Getätigte Prüfungsanmeldungen:</u></b></p>
			{% block shortRegisteredExam %}
	
			{% endblock shortRegisteredExam %}
			<hr style="margin: 1rem; background: #485fc7;">
			<p><b><u>Noch mögliche Prüfungsanmeldungen:</u></b></p>
			{% block shortUnregisteredExam %}
			
			{% endblock shortUnregisteredExam %}
		</div>
	</div>
</div>

{% endblock content %}
